@import './styles/lenis-style.css';


@font-face {
  font-family: 'Dark';
  src: url('./assets/Fonts/Dark.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Broken';
  src: url('./assets/Fonts/Broken.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Living';
  src: url('./assets/Fonts/Living.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Manuskript';
  src: url('./assets/Fonts/Manuskript.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Omerta';
  src: url('./assets/Fonts/Omerta.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Raven';
  src: url('./assets/Fonts/Raven.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Stroke';
  src: url('./assets/Fonts/Stroke.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Wells';
  src: url('./assets/Fonts/Wells.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}@font-face {
  font-family: 'Yugi';
  src: url('./assets/Fonts/Yugi.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Works in Chrome, Edge, and Safari */
::-webkit-scrollbar {
  width: 4px; /* width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #9333EA; /* Tailwind gray-200 */
}

::-webkit-scrollbar-thumb {
  background: #000000; /* Tailwind indigo-500 */
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #7E22CE; /* Tailwind indigo-600 */
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color:#9333EA #000000 ;
}

@tailwind base;
@tailwind components;
@tailwind utilities;



